{{ define "content" }}

<div id="content-header">
  <h1>Dashboard</h1>
</div>

<div id="content-container">
  <div>
    <h4 class="heading-inline">Summary</h4>
  </div>

  <br />

  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a href="blacklist" class="dashboard-stat primary">
        <div class="details">
          <span class="content">Blacklisted Actors</span>
          <span class="value">{{len .Summary.Blacklisted}}</span>
        </div>

        <i class="fa fa-play-circle more"></i>
      </a>
    </div>

    <div class="col-md-4 col-sm-6">
      <a href="marklist" class="dashboard-stat secondary">
        <div class="details">
          <span class="content">Marked Actors</span>
          <span class="value">{{len .Summary.Marked}}</span>
        </div>

        <i class="fa fa-play-circle more"></i>
      </a>
    </div>

    <div class="col-md-4 col-sm-6">
      <a href="whitelist" class="dashboard-stat tertiary">
        <div class="details">
          <span class="content">Whitelisted Actors</span>
          <span class="value">{{len .Summary.Whitelisted}}</span>
        </div>

        <i class="fa fa-play-circle more"></i>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="portlet">
        <div class="portlet-header">
          <h3>Blacklisted Actors</h3>
        </div>

        <div class="portlet-content">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
		{{range .Summary.Blacklisted}}
                <tr>
                  <td>{{.}}</td>
                  <td><a href="actors/{{.}}" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                </tr>
		{{end}}
              </tbody>
            </table>
          </div>

          <hr />

          <a href="blacklist" class="btn btn-sm btn-primary">View All Blacklisted Actors</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="portlet">
        <div class="portlet-header">
          <h3>Marked Actors</h3>
        </div>

        <div class="portlet-content">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
		{{range .Summary.Whitelisted}}
                <tr>
                  <td>{{.}}</td>
                  <td><a href="actors/{{.}}" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                </tr>
		{{ end }}
              </tbody>
            </table>
          </div>

          <hr />

          <a href="blacklist" class="btn btn-sm btn-secondary">View All Marked Actors</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="portlet">
        <div class="portlet-header">
          <h3>Marked Actors</h3>
        </div>

        <div class="portlet-content">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>IP Address</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
		{{range .Summary.Marked}}
                <tr>
                  <td>{{.}}</td>
                  <td><a href="actors/{{.}}" class="btn btn-xs btn-tertiary">View &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></a></td>
                </tr>
		{{end}}
              </tbody>
            </table>
          </div>

          <hr />

          <a href="blacklist" class="btn btn-sm btn-tertiary">View All Whitelisted Actors</a>
        </div>
      </div>
    </div>

  </div>
</div>

{{ end }}
